{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}

{% block page_header %}

<p><b>You have been logged out. Thank you for visiting.</b></p>

<div class="jumbotron">
	<h1 class="display-3">Team Wallet.</h1>

	<p class="lead">Create Team Wallet. Keep track of your shared budget and its balance with tripmates, friends, and family.</p>

	<a class="btn btn-dark" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
	<a class="btn btn-dark" href="{% url 'users:login' %}" role="button">Log in &raquo;</a>

{% endblock page_header %}	