{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}


{% block page_header %}

<p><b>{% blocktrans %}You have been logged out. Thank you for visiting.{% endblocktrans %}</b></p>

<div class="jumbotron">
	<h1 class="display-3">{% blocktrans %}Team Wallet.{% endblocktrans %}</h1>

	<p class="lead">{% blocktrans %}Create Team Wallet. Keep track of your shared budget and spendings with friends and family at home and while traveling.{% endblocktrans %}</p>

	<a class="btn btn-dark" href="{% url 'users:signup' %}" role="button">{% blocktrans %}Register{% endblocktrans %} &raquo;</a>
	<a class="btn btn-dark" href="{% url 'users:login' %}" role="button">{% blocktrans %}Log in{% endblocktrans %} &raquo;</a>

{% endblock page_header %}	