{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block page_header %}

<p><b>{% blocktrans %}You have been logged out. Thank you for visiting.{% endblocktrans %}</b></p>

<div class="jumbotron">
	<h2 class="display-4"><img src="{% static 'web_travel_data/7.png' %}" width="100" height="100" class="d-inline-block align-bottom" alt="">&nbsp;
	{% blocktrans %}CrewWallet{% endblocktrans %}</h2>

	<p class="lead">{% blocktrans %}Create CrewWallet. Keep track of your shared budget and spendings with friends and family at home and while traveling.{% endblocktrans %}</p>

	<a class="btn btn-dark" href="{% url 'users:signup' %}" role="button">{% blocktrans %}Register{% endblocktrans %} &raquo;</a>
	<a class="btn btn-dark" href="{% url 'users:login' %}" role="button">{% blocktrans %}Log in{% endblocktrans %} &raquo;</a>

{% endblock page_header %}	