{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}


{% block content %}
  {% if validlink %}
    <h3>{% blocktrans %}Change password{% endblocktrans %}</h3>
    <form method="post">
        {% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
      <button name="submitt" class="btn btn-dark">{% blocktrans %}Change password{% endblocktrans %}</button>
      	{% endbuttons %}
    </form>
  {% else %}
    <p>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.{% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}