{% load i18n %}
{% autoescape off %}
{% blocktrans %}Hi,{% endblocktrans %} {{ user.username }}.
{% blocktrans %}To initiate the password reset process for your TeamWallet Account,
click the link below:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.{% endblocktrans %}

{% blocktrans %}Sincerely, 
The TeamWallet Team{% endblocktrans %}
{% endautoescape %}