{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% blocktrans %}Registration.{% endblocktrans %}{% endblock title %}

{% block content %} 

    <h2>{% blocktrans %}Registration.{% endblocktrans %}</h2>
    <form method="post" action="{% url 'users:signup' %}">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submitt" class="btn btn-dark">{% blocktrans %}Register{% endblocktrans %}</button>		
		{% endbuttons %}
	</form>
{% endblock content %}
