{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}

{% block content %}

	<form action="{% url 'web_travel_data:contributions' %}" method="post">
		{% csrf_token %}
		
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">Add contribution</button>
		{% endbuttons %}
	</form>
	

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Member</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
  	{% for contribution in contributions %}
  	<tr>      
      <td>{{ contribution.date_added|date:'d M Y H:i' }}</td>
      <td>{{ contribution.amount }}</td>
      <td>{{ contribution.member }}</td>
      <td>{{ contribution.note }}</td>
    </tr>
    {% empty %}
    <th>No contributions has been made yet.</th>
    <td></td>
    <td></td>
    <td></td>    
    {% endfor %}
  </tbody>
</table>


{% endblock content %}

