{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<form action="{% url 'web_travel_data:contributions' %}" method="post">
		{% csrf_token %}
		
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">{% blocktrans %}Add contribution{% endblocktrans %}</button>
		{% endbuttons %}
	</form>
	

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">{% trans 'Date' %}</th>
      <th scope="col">{% trans 'Amount' %}</th>
      <th scope="col">{% trans 'Member' %}</th>
      <th scope="col">{% trans 'Note' %}</th>
    </tr>
  </thead>
  <tbody>
  	{% for contribution in contributions %}
  	<tr>      
      <td>{{ contribution.date_added|date:'d.m.y H:i' }}</td>
      <td>{{ contribution.amount }}</td>
      <td>{{ contribution.member }}</td>
      <td>{{ contribution.note }}</td>
    </tr>
    {% empty %}
    <th>{% blocktrans %}No contributions has been made yet.{% endblocktrans %}</th>
    <td></td>
    <td></td>
    <td></td>    
    {% endfor %}
  </tbody>
</table>


{% endblock content %}


