{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<p style="color:red"><b>{% blocktrans %}Delete member {{ member }} and all relative information?{% endblocktrans %}</b></p>

	<form action="{% url 'web_travel_data:delete_member' team.id member.id %}" method='post'>
		{% csrf_token %}
		{% buttons %}
		<button name="submit" class="btn btn-danger">{% blocktrans %}YES{% endblocktrans %}</button>
		{% endbuttons %}
		<p><b><a class="btn btn-dark" href="{% url 'web_travel_data:member' team.id member.id %}">{% blocktrans %}CANCEL{% endblocktrans %}</a></b></p>
	</form>

{% endblock content %}

