{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<p style="color:red"><b>{% blocktrans %}Delete contribution {% endblocktrans %}{{ contribution.member }} {{ contribution.amount }}{% blocktrans %} and all relative information?{% endblocktrans %}</b></p>

	<form action="{% url 'web_travel_data:delete_contribution' team.id contribution.id %}" method='post'>
		{% csrf_token %}
		{% buttons %}
		<button name="submit" class="btn btn-danger">{% trans 'YES' %}</button>
		{% endbuttons %}
		<p><b><a class="btn btn-dark" href="{% url 'web_travel_data:contributions' team.id %}">{% trans 'CANCEL' %}</a></b></p>
	</form>

{% endblock content %}