{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<p>{% blocktrans %}Edit exception info:{% endblocktrans %}</p>

	<form action="{% url 'web_travel_data:edit_exeption' exeption.id %}" method='post'>
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">{% blocktrans %}Save changes{% endblocktrans %}</button>
		{% endbuttons %}
	</form>

<a href="{% url 'web_travel_data:delete_exeption' exeption.id %}">{% blocktrans %}Delete an exception{% endblocktrans %}</a>

{% endblock content %}