{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<p>{% blocktrans %}Edit contribution info:{% endblocktrans %}</p>

	<form action="{% url 'web_travel_data:edit_contribution' team.id contribution.id %}" method='post'>
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">{% blocktrans %}Save changes{% endblocktrans %}</button>
		{% endbuttons %}
	</form>

<a class="btn btn-dark" href="{% url 'web_travel_data:delete_contribution' team.id contribution.id %}">{% blocktrans %}Delete contribution{% endblocktrans %}</a>

{% endblock content %}