{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<p>{% blocktrans %}Send report to {% endblocktrans %}<b>{{ member }}</b>{% blocktrans %} on email: {% endblocktrans %}<b>{{ member.email }}</b>.</p>

	<form action="{% url 'web_travel_data:email_member_report' team.id member.id %}" method='post'>
		{% csrf_token %}
		{% buttons %}
		
		<button name="submit" class="btn btn-dark">{% blocktrans %}Send report{% endblocktrans %}</button>
		<p></p>
		<p><a href="{% url 'web_travel_data:exeptions' team.id %}"><b>{% blocktrans %}CANCEL{% endblocktrans %}</b></a></p>
		{% endbuttons %}
	</form>

{% endblock content %}
