{% extends 'web_travel_data/base.html' %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Exeption</th>
      <th scope="col">Amount</th>
      <th scope="col">Members</th>
    </tr>
  </thead>
  <tbody>
  	{% for exeption in exeptions %}
  	<tr class="clickable-row" data-href="{% url 'web_travel_data:edit_exeption' exeption.id %}">
      <th scope="row">{{ exeption.i }}</th>
      <td>{{ exeption.name }}</td>
      <td>{{ exeption.expences }}</td>
      <td>{% for member in exeption.member.all %}{{ member }}&nbsp;{% endfor %}</td>
    </tr>
    {% empty %}
    <th></th>
    <th>No exeptions has been set yet.</th>
    <td></td>
    <td></td>
    {% endfor %}
    <tr class="clickable-row" data-href="{% url 'web_travel_data:new_exeption' %}">
      <th>+</th>
      <th>Add Exeption</th>
      <td></td>
      <td></td> 
    </tr>
  </tbody>
</table>

{% endblock content %}
