{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}

{% block content %}

	<form action="{% url 'web_travel_data:expences' %}" method="post" class="form-inline justify-content-between mb-3">
		{% csrf_token %}
		
		{% for field in form %}
		<div class="form-group">
    <label>{{ field.label }}&nbsp;&nbsp;</label>
    {{ field }}
    
  </div>
    {% endfor %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">Add spending</button>
		{% endbuttons %}
	</form>
	

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Purpose</th>
      <th scope="col">Note</th>
    </tr>
  </thead>
  <tbody>
  	{% for expence in expences %}
  	<tr>      
      <td>{{ expence.date_added|date:'d M Y H:i' }}</td>
      <td>{{ expence.amount }}</td>
      <td>{{ expence.purpose }}</td>
      <td>{{ expence.note }}</td>
    </tr>
    {% empty %}
    <th>No expences has been made yet.</th>
    <td></td>
    <td></td>    
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
