{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}

<b>{% blocktrans %}Choose your crew to manage its balance or create a new one.{% endblocktrans %}</b>
	
<table class="table table-hover" style="text-align:left">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">{% blocktrans %}Crews{% endblocktrans %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	{% for team in teams %}
  	<tr>      
      <th><a href="{% url 'web_travel_data:balance' team.id %}" style="color:black">{{ team.name }}</a></th>
      <th><a href="{% url 'web_travel_data:delete_team' team.id %}"><img src="{% static 'web_travel_data/4.png' %}" width="25" height="25" class="d-inline-block align-top" alt=""></a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>

<b>{% blocktrans %}Create new crew:{% endblocktrans %}</b>

  <form action="{% url 'web_travel_data:index' %}" method="post" class="form">
  {% csrf_token %}    
  {% bootstrap_form form %}
  {% buttons %}
  <button name="submit" class="btn btn-dark">{% blocktrans %}Create crew{% endblocktrans %}</button>
  {% endbuttons %}
  </form>



{% endblock content %}
