{% extends "web_travel_data/base.html" %}

{% block page_header %}

{% endblock page_header %}

{% block content %}

<p>Press row to view member's details or <a href="{% url 'web_travel_data:new_member' %}" style="color:black"><b> '+ Add Member'</b></a></p>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">Team Member</th>
      <th scope="col">Contribution</th>
      <th scope="col">Balance</th>
      <th scope="col">Closing Balance</th>
    </tr>
  </thead>
  <tbody>
  	{% for member in members %}
  	<tr class="clickable-row" data-href="{% url 'web_travel_data:member' member.id %}">      
      <th>{{ member.name }}</th>
      <td>{{ member.contribute }}</td>
      <td>{{ member.balance }}</td>
      <td>{{ member.return_to_close }}</td>
    </tr>
    {% endfor %}
    <tr class="clickable-row" data-href="{% url 'web_travel_data:new_member' %}">
      <th>+ Add Member</th>
      <td></td>
      <td></td>
      <td></td>      
    </tr>
  </tbody>
</table>


{% endblock content %}

