{% extends 'web_travel_data/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_header %}
<h>{{ member.name }}</h>
{% endblock page_header %}

{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

<div>
<a href="{% url 'web_travel_data:email_member_report' team.id member.id %}" style="color:black"><b>{% blocktrans %}Send report{% endblocktrans %}</b></a>
</div>
<div>
<a href="{% url 'web_travel_data:edit_member' team.id member.id %}" style="color:black"><b>{% blocktrans %}Edit member{% endblocktrans %}</b></a>
</div>


<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">{% trans 'Date' %}</th>
      <th scope="col">{% trans 'Contribution' %}</th>
    </tr>
  </thead>
  <tbody>
  	{% for contribution in contributions %}
  	<tr class="clickable-row" data-href="{% url 'web_travel_data:edit_contribution' team.id contribution.id %}">
      <td>{{ contribution.date_added|date:'d.m.y H:i' }}</td>
      <td>{{ contribution.amount }}</td>
    </tr>
    {% empty %}
    <th>{% blocktrans %}No contributions has been made yet.{% endblocktrans %}</th>
    <td></td>    
    {% endfor %}
  </tbody>
</table>


{% endblock content %}


