{% extends 'web_travel_data/base.html' %}

{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

<a href="{% url 'web_travel_data:edit_member' member.id %}">Edit member</a>

<p>{{ member }}</p>

<a href="{% url 'web_travel_data:email_member_report' member.id %}">Send report to this member</a>

<p>Contributions:</p>
<ul>
	{% for contribution in contributions %}
		<li>
			<p>{{ contribution.date_added|date:'M d, Y H:i' }}</p>
			<p>{{ contribution.amount }}</p>
		</li>
	{% empty %}
		<li>No contribution has been made yet.</li>
	{% endfor %}
</ul>

{% endblock content %}
