{% load bootstrap4 %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CREWWallet</title>

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}

<div class="container">

<p>{% trans 'Hello' %}, {{ member.name }}.</p>
<p>{% blocktrans %}Our TeaMWallet balance is{% endblocktrans %} <b>{{ balance }}</b>.</p>
<p>{% blocktrans %}Total contributions are{% endblocktrans %} <b>{{ all_contributions }}</b>.</p>
<p>{% blocktrans %}Total spendings are{% endblocktrans %} <b>{{ all_expences }}</b>.</p>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>       
      <th scope="col">{% blocktrans %}You have contributed{% endblocktrans %}</th>
      <th scope="col">{% blocktrans %}Your current balance{% endblocktrans %}</th>
      <th scope="col">{% blocktrans %}Your closing Balance{% endblocktrans %}</th>
    </tr>
  </thead>
  <tbody>    
    <tr>       
      <td>{{ member.contribute }}</td>
      <td>{{ member.balance }}</td>
      <td>{{ member.return_to_close }}</td>
    </tr>    
  </tbody>
</table>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">{% trans 'Date' %}</th>
      <th scope="col">{% trans 'Contribution' %}</th>
    </tr>
  </thead>
  <tbody>
  	{% for contribution in contributions %}
  	<tr>
      <td>{{ contribution.date_added|date:'d.m.y H:i' }}</td>
      <td>{{ contribution.amount }}</td>
    </tr>
    {% empty %}
    <th>No contributions has been made yet.</th>
    <td></td>    
    {% endfor %}
  </tbody>
</table>

</div>

{% endblock %}

