{% extends 'web_travel_data/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
<h>{{ member.name }}</h>
{% endblock page_header %}

{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% endif %}

<div>
<a href="{% url 'web_travel_data:email_member_report' member.id %}" style="color:black"><b>Send report</b></a>
</div>
<div>
<a href="{% url 'web_travel_data:edit_member' member.id %}" style="color:black"><b>Edit member</b></a>
</div>


<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">Date</th>
      <th scope="col">Contribution</th>
    </tr>
  </thead>
  <tbody>
  	{% for contribution in contributions %}
  	<tr>
      <td>{{ contribution.date_added|date:'d M Y H:i' }}</td>
      <td>{{ contribution.amount }}</td>
    </tr>
    {% empty %}
    <th>No contributions has been made yet.</th>
    <td></td>    
    {% endfor %}
  </tbody>
</table>


{% endblock content %}

