{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<p>{% blocktrans %}Add a new exeption:{% endblocktrans %}</p>

	<form action="{% url 'web_travel_data:new_exeption' team.id %}" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-dark">{% blocktrans %}Add exception{% endblocktrans %}</button>
		{% endbuttons %}
	</form>

	
{% endblock content %}