{% extends "web_travel_data/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}

	<b>{% blocktrans %}Add a new team:{% endblocktrans %}</b>

	<form action="{% url 'web_travel_data:user' %}" method="post" class="form">
	{% csrf_token %}		
	{% bootstrap_form form %}
	{% buttons %}
	<button name="submit" class="btn btn-dark">{% blocktrans %}Add team{% endblocktrans %}</button>
	{% endbuttons %}
	</form>


<table class="table table-hover">
  <thead class="thead-dark">
    <tr>      
      <th scope="col">{% blocktrans %}Teams{% endblocktrans %}</th>
      
    </tr>
  </thead>
  <tbody>
  	{% for team in teams %}
  	<tr class="clickable-row" data-href="{% url 'web_travel_data:index' %}">      
      <th>{{ team.name }}</th>
      
    </tr>
    {% endfor %}
    <tr class="clickable-row" data-href="{% url 'web_travel_data:user' %}">
      <th>{% blocktrans %}+ Add Team{% endblocktrans %}</th>
           
    </tr>
  </tbody>
</table>



{% endblock content %}
